a {
    text-decoration: none;
    color: #bdbdbd;
}

ul {
    list-style-type: none;
}

body{
    font-family: 'Berlin Sans FB';

}

h1{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 4px;
}
p{
    line-height: 20px;
    font-weight:lighter;
}