body {
    font-family:'Segoe UI';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.body-main-pre {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.reg-form {
    display: flex;
    flex-direction: column;
}
.name-box {
    border-color: blue;
    
}